body {
    background-image: url('imageformulario/fundo\ formulario.jfif');
    background-size: cover;
    background-position: center;
    font-family: Arial, sans-serif;
    background-color: var(--background-color);
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

form {
    background: rgba(102, 179, 202, 0.8);
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    max-width: 400px;
    width: 290%;
    
}

input, textarea {
    width: 90%;
    padding: 10px;
    margin-bottom: -5px;
    border: 1px solid var(--border-color);
    border-radius: 4px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease;
}

input:focus, textarea:focus {
    border-color: var(--focus-border-color);
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
}

h1 {
    font-size: 40px;
    font-weight: bold;
    color: var(--text-color);
    text-align: center;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
    margin-bottom: 20px;
    position: relative;
    left: -185px;
    top: -30px;
}
label {
    font-size: 18px;
    font-weight: bold;
    color: var(--text-color);
    margin-bottom: 10px;
    font-family:Serif    ;
    display: block;
    margin-bottom: -20px;
}
